$black-base: #484c55;
$darkblue-base: #485460;
$skyblue-base: #49cbcd;
$grey: #f8f9fb;
$darkgrey-base: #788492;
$blue-facebook: #3b5997;
$skyblue-twitter: #3ec2f3;
$crimson-google: #e44c41;

$font-color-base: #484c55;
$font-color-base-hover: #49cbcd;
$font-color-skyblue: #49cbcd;
$font-color-darkblue: #485460;
$font-color-grey: #8c9299;
$font-color-violet: #bface2;
