.m-btn {
  line-height: 30px;

  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;

  border: 0;
  outline: none;

  background-color: $skyblue-base;

  display: inline-block;

  color: white;

  padding-left: 15px;
  padding-right: 15px;
}

.m-btn.large {
  line-height: 40px;

  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;

  padding-left: 51px;
  padding-right: 51px;

  font-weight: 600;
}

.m-btn.big {
  line-height: 63px;

  font-size: 24px;

  font-weight: 600;

  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

/* Specific modules */
.m-btn.portfolio {
  margin: 50px auto 100px auto;
}

.m-btn.buy-plan {
  background: $darkblue-base;
  margin: 29px auto;
}

.m-btn.submit-contact-form {
  margin-top: 31px;
  float: right;
  font-size: 22px;
  font-weight: normal;
}
