.m-feature {
  width: 245px;
  height: 315px;
  float: left;
  margin: 100px 21px 50px 21px;

  text-align: center;
}

  .m-feature-caption-title {
    height: 26px;
    margin-top: 50px;
    overflow: hidden;

    text-overflow: ellipsis;
    font-size: 22px;
    line-height: 22px;
  }

  .m-feature-caption-description {
    height: 75px;
    overflow: hidden;
  }

