.m-plan {
  width: 368px;
  float: left;
  margin: 119px 32px 101px auto;

  text-align: center;

  &:last-child { margin-right: 0px; }
}

  .m-plan-header {
    background: $darkblue-base;

    color: white;
    font-weight: bold;
    font-size: 26px;
    line-height: 75px;
  }

  .m-plan-footer {
    background: $grey;
    margin-top: 1px;
  }

  .m-plan-price {
    background: $grey;

    color: $font-color-darkblue;
    font-size: 20px;
    line-height: 68px;
  }

  .m-plan-features { list-style-type: none; }

    .m-plan-features-item {
      margin-top: 1px;
      background: white;

      color: $font-color-grey;
      line-height: 45px;
    }
