.m-carousel-base,
[data-behavior*=swiper] {
	margin:0 auto;
	position:relative;
	overflow:hidden;
	-webkit-backface-visibility:hidden;
	-moz-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-o-backface-visibility:hidden;
	backface-visibility:hidden;
	/* Fix of Webkit flickering */
	z-index:1;
}
	.m-carousel-base > .swiper-wrapper {
		position:relative;
		width:100%;
		-webkit-transition-property:-webkit-transform, left, top;
		-webkit-transition-duration:0s;
		-webkit-transform:translate3d(0px,0,0);
		-webkit-transition-timing-function:ease;

		-moz-transition-property:-moz-transform, left, top;
		-moz-transition-duration:0s;
		-moz-transform:translate3d(0px,0,0);
		-moz-transition-timing-function:ease;

		-o-transition-property:-o-transform, left, top;
		-o-transition-duration:0s;
		-o-transform:translate3d(0px,0,0);
		-o-transition-timing-function:ease;
		-o-transform:translate(0px,0px);

		-ms-transition-property:-ms-transform, left, top;
		-ms-transition-duration:0s;
		-ms-transform:translate3d(0px,0,0);
		-ms-transition-timing-function:ease;

		transition-property:transform, left, top;
		transition-duration:0s;
		transform:translate3d(0px,0,0);
		transition-timing-function:ease;

		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;
	}

	.m-carousel-base-arrow {
		display: block;
		z-index: 2;
		position: absolute;
		top: 50%;
		height: 51px;
		width: 51px;
		margin-top: -25px;
		border-radius: 51px;
		background: white;

		cursor: pointer;
		color: $font-color-skyblue;
		line-height: 51px;
		text-align: center;
		font-size: 40px;
	}
		.m-carousel-base-arrow.quote { color: black; }

		.m-carousel-base-arrow.arrow-left { left: 0; }
		.m-carousel-base-arrow.arrow-right { right: 0; }

.swiper-free-mode > .swiper-wrapper {
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-ms-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	margin: 0 auto;
}
.swiper-slide { float: left; }

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal { -ms-touch-action: pan-y; }
.swiper-wp8-vertical { -ms-touch-action: pan-x; }

.m-carousel {
	height: 560px;

	color: white;
	text-align: center;
}

	.m-carousel-title {
	  margin-top: 140px;
	  margin-bottom: 44px;

		text-shadow: 0 1px rgba(0,0,0,.16);
		font-size: 63px;
		font-weight: 600;
	}

	.m-carousel-subtitle {
		font-size: 23px;
		font-weight: normal;
	}

.m-carousel-quote {
	height: 170px;
	margin-bottom: 103px;

	text-align: center;
}
	.m-carousel-quote-slide {
		color: $font-color-base1;
		font-size: 19px;
	}
	.m-carousel-quote-quote {
		width: 642px;
		margin: 0px auto;
	}
	.m-carousel-quote-signature {
		margin-top: 42px;
		font-size: 21px;
		color: $font-color-grey1;
	}
