.m-team {
  width: 245px;
  float: left;
  margin: 140px 50px 105px auto;
  text-align: center;

  &:last-child { margin-right: 0px; }
}

  .m-team-profile-image {
    border-radius: 100px;
    margin-bottom: 50px;
  }
  .m-team-profile-image:hover { opacity: 0.5; }
